{% extends 'base.html' %}
{% load static %}

{% block style %}

<style>
.detail-area {
  width: 68.75%;
  height: 100%;
  margin: 0 auto;
  background-color: black;
  margin-top: 6rem;
}


</style>

{% endblock style %} 

{% block movie %}
<div class="detail-area">
  <div class="container">
    <div class="row justify-content-center height align-items-center">
      <div class="col-lg-8">
        <h1 class="text-center m-3">영화 제목</h1>
        <div class="info">
          <div class="poster">

          </div>
          <div class="minfo">

          </div>        
        </div>

        <div class="description">
        
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock  %}
